<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI in Art & Culture</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="menu">
        <div class="menu-items">
            <div class="menu-item"></div>
            <a class="menu-item" href = "./interpreter">Interpreter</a>
            <a class="menu-item" href = "./museum">Museum</a>
            <a class="menu-item" href = "./library">Library</a>
            <a class="menu-item" href = "./explore">Explore</a>
        </div>
    </div>
    <div class="home">
        <div class="hero">
            <p>SYNTHARI</p>
        </div>
        <div class="frame">
            <div class="frame-img">
                <img src="../static/imgs/frame.png" alt="">
            </div>
            <div class="every1">
                <p>
                    EVERYONE WANTS ONE <br>
                    EVERYONE WANTS ONE <br>
                    EVERYONE WANTS ONE <br>
                    EVERYONE WANTS ONE
                </p>
            </div>
            <div class="arrows">
                <div class="arrow">
                    <img src="../static/imgs/arrow.svg" alt="">
                </div>
                <div class="arrow">
                    <img src="../static/imgs/arrow.svg" alt="">
                </div>
                <div class="arrow">
                    <img src="../static/imgs/arrow.svg" alt="">
                </div>
            </div>
            <div class="beyond">
                <p>BEYOND THE FRAME</p>
            </div>
        </div>
    </div>
    <div class="menubig">
        <div class="right">
            <div class="item">
                <div class="round">
                    1
                </div>
                <div class="text">
                    <a href = "./interpreter">Interpreter</a>
                </div>
            </div>
            <div class="item">
                <div class="round">
                    2
                </div>
                <div class="text">
                    <a href = "./museum">Museum</a>
                </div>
            </div>
            <div class="item">
                <div class="round">
                    3
                </div>
                <div class="text">
                    <a href = "./library">Library</a>
                </div>
            </div>
            <div class="item">
                <div class="round">
                    4
                </div>
                <div class="text">
                    <a href = "./explore">Explore</a>
                </div>
            </div>
        </div>
    </div>
    <script src="../static/index.js"></script>
</body>
</html>