<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI in Art & Culture</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="menu">
        <div class="menu-items">
            <a class="menu-item" href ="./">Synthari</a>
            <a class="menu-item" href = "./interpreter">Interpreter</a>
            <a class="menu-item" href = "./museum">Museum</a>
            <a class="menu-item" href = "./library">Library</a>
            <a class="menu-item" href = "./explore">Explore</a>
        </div>
    </div>
    </div>
    <div class="libraryhero">
        <p>LIBRARY</p>
    </div>
    <div class="librarygrid">
    </div>
    <script src="../static/index.js"></script>
    <script>
        fetch('/list-images')
        .then(response => response.json())
        .then(images => {
            const grid = document.getElementsByClassName('librarygrid')[0];
            images.forEach(path => {
                const img = document.createElement("img");
                img.src = "/static/" + path;
                const el = document.createElement("div");
                el.className = "libraryitem";
                el.appendChild(img);
                grid.appendChild(el);
            });
        })
    </script>
</body>
</html>