<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI in Art & Culture</title>
    <link rel="stylesheet" href="../static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
</head>
<body>
   <div class="menu">
        <div class="menu-items">
            <a class="menu-item" href ="./">Synthari</a>
            <a class="menu-item" href = "./interpreter">Interpreter</a>
            <a class="menu-item" href = "./museum">Museum</a>
            <a class="menu-item" href = "./library">Library</a>
            <a class="menu-item" href = "./explore">Explore</a>
        </div>
    </div>
    <div class="heromuseum">
        What's your favorite genre?
    </div>
    <div class="imgsmuseum">
        <div class="museumimg" 
        data-mouse-attractionState="active"
        data-mouse-attraction="mid"
        data-mouse-attractionVal="30"
	    data-mouse-magnetism="5"
	    data-hover-type="outline">
            <img src="../static/imgs/graffiti.png" alt="">
            <div class="themetxt">
                <p>Graffiti</p>
            </div>
            <div class="themedesc">
                <p>explore the achieve</p>
            </div>
        </div>
        <div class="museumimg"
        data-mouse-attractionState="active"
        data-mouse-attraction="mid"
        data-mouse-attractionVal="30"
	    data-mouse-magnetism="5"
	    data-hover-type="outline">
            <img src="../static/imgs/sculpture.png" alt="">
            <div class="themetxt">
                <p>Sculpture</p>
            </div>
            <div class="themedesc">
                <p>crave through emotions</p>
            </div>
        </div>
        <div class="museumimg"
        data-mouse-attractionState="active"
        data-mouse-attraction="mid"
        data-mouse-attractionVal="30"
	    data-mouse-magnetism="5"
	    data-hover-type="outline">
            <img src="../static/imgs/digiart.png" alt="">
            <div class="themetxt">
                <p>Digital Art</p>
            </div>
            <div class="themedesc">
                <p>stylize through prompts</p>
            </div>
        </div>
    </div>
    <div class="collections">
        <div class="collection">
            <div class="collitem">
                <a target = "_blank" href = "https://www.google.com/search?sca_esv=ce3263ccc9bab162&sxsrf=AE3TifOa6jIcIpFp2VGXDfdn5Ypg03VMaA:1751277669495&q=old+regime+painting+collection&udm=2&fbs=AIIjpHxU7SXXniUZfeShr2fp4giZ1Y6MJ25_tmWITc7uy4KIeioyp3OhN11EY0n5qfq-zENwnGygERInUV_0g0XKeHGJRAdFPaX_SSIJt7xYUfpm-_vQHq3hzHA2DKyn4_QBnQmzJzRbbjOPw1BvHSgNexNCWYY3W1po7cj-turW4QANz87mzlbnYh0yzluxEnlslmki5VQphgTLwzF5rw5S350lSej9Rw&sa=X&ved=2ahUKEwjGypLb8ZiOAxVkfGwGHaLaNUIQtKgLKAF6BAgUEAE&biw=1280&bih=595&dpr=1.5">OLD REGIME</a>
                <img src="../static/imgs/oldregime.png" alt="">
            </div>
            <div class="collitem">
                <a target = "_blank" href = "https://www.google.com/search?sca_esv=ce3263ccc9bab162&biw=1280&bih=595&sxsrf=AE3TifNY2jYZxXiRW6VB1VezYSwc8ZoCOw:1751277724445&q=industrial+revolution+painting+collection&udm=2&fbs=AIIjpHxU7SXXniUZfeShr2fp4giZ1Y6MJ25_tmWITc7uy4KIeioyp3OhN11EY0n5qfq-zEMNIp8LUgCyfMBh3p2QSOgg7QLMukbBusrotrgjdXeBaBI20KGIIBsKf-COTXvcmp_MO7Z4n-8yBC1gDRqa_Qjq36DesohkRyv-CRR_VdTum-5sFddpZIGdu2rWOxfw7QaCFTSltb3AMD0RDK9FpitIA-mKVQ&sa=X&ved=2ahUKEwjTtKz18ZiOAxV5R2wGHbfeMhkQtKgLKAF6BAgREAE">INDUSTRIAL REVOLUTION</a>
                <img src="../static/imgs/industrial.png" alt="">
            </div>
            <div class="collitem">
                <a target="_blank" href = "https://www.google.com/search?sca_esv=ce3263ccc9bab162&biw=1280&bih=595&sxsrf=AE3TifNokQ_rMI-kdsiv3oYbFdHAdu1B0Q:1751277825969&q=archeological+painting+collection&udm=2&fbs=AIIjpHxU7SXXniUZfeShr2fp4giZ1Y6MJ25_tmWITc7uy4KIeioyp3OhN11EY0n5qfq-zEMNIp8LUgCyfMBh3p2QSOggxv6lFg9ssfgcRmf1yRKNDx58HqE6cfaRv7eVpG_UiEeW2bS9ODiqrkDhx0vZPBfacdNnpEBbH5QOCCQANFO6kF2k-VUIq77HXNhDBmFR5y327KBviDllpl46jTO1coGm6rkEhQ&sa=X&ved=2ahUKEwibhOGl8piOAxUNfWwGHVv_DdcQtKgLKAF6BAgPEAE">ARCHEOLOGICAL COLLECTION</a>
                <img src="../static/imgs/archeological.png" alt="">
            </div>
            <div class="collitem">
                <a target="_blank" href = "https://www.google.com/search?sca_esv=ce3263ccc9bab162&biw=1280&bih=595&sxsrf=AE3TifOSkqlplTqfx07PY4hbFQ_VGL1jDw:1751277857144&q=digital+art+painting+collection&udm=2&fbs=AIIjpHxU7SXXniUZfeShr2fp4giZ1Y6MJ25_tmWITc7uy4KIeioyp3OhN11EY0n5qfq-zENyQuF3_WaPI4Qgb6AZzy-eW4Iylpe544k0tQNJ-bxHSRfOs5pdBcFg3Gpr2F3ET_1bKkmmGmdsYnLsYWbt_iX0IMIJSt47ziZFzXmNBNwZA8eYKNYM24H743YhGN2ZXc-3iubURbWp__kUiWSNw9ToJ7jU7g&sa=X&ved=2ahUKEwiS5c-08piOAxUhZmwGHVo-HR8QtKgLKAF6BAgREAE">DIGITAL ART [AI PROMPTED]</a>
                <img src="../static/imgs/digital.png" alt="">
            </div>
            <div class="collitem">
                <a target="_blank" href="https://www.google.com/search?sca_esv=ce3263ccc9bab162&biw=1280&bih=595&sxsrf=AE3TifNkvsz_RFIVHcNMwa3CV_tx0_eemw:1751277918940&q=baroque+era+painting+collection&udm=2&fbs=AIIjpHxU7SXXniUZfeShr2fp4giZ1Y6MJ25_tmWITc7uy4KIeioyp3OhN11EY0n5qfq-zEMzuQRQtDnOcgd0wUd10tNAmVEmPmJT85udYE296vp4VlbX4ZywOBLRtfHC91wkcv3wyL3n4X_r6v2wvoacPmIEZ1MzC279FUOwDK4sEC8k4Ue7WnXH2JI4dTVqPmQND4b5DJmuWAW_NUDX3--VzhrhpUKfVw&sa=X&ved=2ahUKEwjau4vS8piOAxVxa2wGHRfzDr4QtKgLKAF6BAgREAE">LIBRARY OF BAROQUE ERA</a>
                <img src="../static/imgs/baroque.png" alt="">
            </div>
            <div class="collitem">
                <a target="_blank" href = "https://www.google.com/search?sca_esv=ce3263ccc9bab162&biw=1280&bih=595&sxsrf=AE3TifN-T7WtQ6LVTfmiztUe1L-d2JIZiA:1751277937127&q=y2k+and+retro+style+painting+collection&udm=2&fbs=AIIjpHxU7SXXniUZfeShr2fp4giZ1Y6MJ25_tmWITc7uy4KIeioyp3OhN11EY0n5qfq-zENyQuF3_WaPI4Qgb6AZzy-eW4Iylpe544k0tQNJ-bxHSRfOs5pdBcFg3Gpr2F3ET_1bKkmmGmdsYnLsYWbt_iX0IMIJSt47ziZFzXmNBNwZA8eYKNYM24H743YhGN2ZXc-3iubURbWp__kUiWSNw9ToJ7jU7g&sa=X&ved=2ahUKEwjBxuHa8piOAxUIUGcHHRSKGzsQtKgLKAF6BAgTEAE">Y2K AND RETRO STYLE</a>
                <img src="../static/imgs/y2k.png" alt="">
            </div>
            <div class="collitem">
                <a target="_blank" href = "https://www.google.com/search?sca_esv=ce3263ccc9bab162&biw=1280&bih=595&sxsrf=AE3TifPJrWfFl6JmlA8IEM3zCQnRi8ZFsg:1751277960159&q=life+science+archive+painting+collection&udm=2&fbs=AIIjpHxU7SXXniUZfeShr2fp4giZ1Y6MJ25_tmWITc7uy4KIeioyp3OhN11EY0n5qfq-zENUeDAUwcREhgvEEei7euJ0qoqwf5Sk3D8GcFLwc-PWTz-NFm8rfTblVMWrQYq7dd7ui2SseuAkXuwowEgvVzB5V3Boqs1MbIIXOhOw9oU00anl-bIFhRMBi_cwA-n7gwGeYzA7-jTmS1fyF3NSL-FFNI9lhQ&sa=X&ved=2ahUKEwjwk9_l8piOAxVRU2wGHReEJvQQtKgLKAF6BAgTEAE">LIFE SCIENCE ARCHIEVE</a>
                <img src="../static/imgs/lifescience.png" alt="">
            </div>
            <div class="collitem">
                <a target="_blank" href = "https://www.google.com/search?sca_esv=ce3263ccc9bab162&biw=1280&bih=595&sxsrf=AE3TifONLhPTsf0Vp8FiZbXSyxf7vBZ2Rg:1751277976566&q=surrealism+painting+collection&udm=2&fbs=AIIjpHxU7SXXniUZfeShr2fp4giZ1Y6MJ25_tmWITc7uy4KIeioyp3OhN11EY0n5qfq-zENyQuF3_WaPI4Qgb6AZzy-eW4Iylpe544k0tQNJ-bxHSRfOs5pdBcFg3Gpr2F3ET_1bKkmmGmdsYnLsYWbt_iX0IMIJSt47ziZFzXmNBNwZA8eYKNYM24H743YhGN2ZXc-3iubURbWp__kUiWSNw9ToJ7jU7g&sa=X&ved=2ahUKEwj8x8jt8piOAxV9TGwGHWRFB5AQtKgLKAF6BAgREAE">COLLECTION OF SURREALISM</a>
                <img src="../static/imgs/surrealism.png" alt="">
            </div>
        </div>
    </div>
    <div class="museums">
        <p>Museums near you</p>
    </div>
    <div class="museumgrid">
        <div class="museum">
            <div class="mimgmask">
                <img src="../static/imgs/museum01.png" alt="" class="mimg">
            </div>
            <div class="mname">National Gallery of Modern Art</div>
            <div class="mdesc">29.06.2025</div>
        </div>
        <div class="museum">
            <div class="mimgmask">
                <img src="../static/imgs/museum02.png" alt="" class="mimg">
            </div>
            <div class="mname">Salar Jung Museum</div>
            <div class="mdesc">29.06.2025</div>
        </div>
        <div class="museum">
            <div class="mimgmask">
                <img src="../static/imgs/museum03.png" alt="" class="mimg">
            </div>
            <div class="mname">Sand Museum Mysuru</div>
            <div class="mdesc">29.06.2025</div>
        </div>
        <div class="museum">
            <div class="mimgmask">
                <img src="../static/imgs/museum04.png" alt="" class="mimg">
            </div>
            <div class="mname">Museum of Illusions</div>
            <div class="mdesc">29.06.2025</div>
        </div>
        <div class="museum">
            <div class="mimgmask">
                <img src="../static/imgs/museum05.png" alt="" class="mimg">
            </div>
            <div class="mname">Terracotta Museum</div>
            <div class="mdesc">29.06.2025</div>
        </div>
    </div>
    <div class="museumarrow">
        <div class="rightar">
            <img src="../static/imgs/right.svg" alt="">
        </div>
        <div class="leftar">
            <img src="../static/imgs/left.svg" alt="">
        </div>
    </div>
    <script src = "../static/index.js"></script>
    <script>
        document.getElementsByClassName('museumgrid')[0].style.left = "-33vw"
        document.getElementsByClassName('rightar')[0].addEventListener('click', () => {
            if(Number(document.getElementsByClassName('museumgrid')[0].style.left.split("v")[0])<-60) return;
            document.getElementsByClassName('museumgrid')[0].style.left = Number(document.getElementsByClassName('museumgrid')[0].style.left.split("v")[0]) - 33 + "vw"
        })
        document.getElementsByClassName('leftar')[0].addEventListener('click', () => {
            if(Number(document.getElementsByClassName('museumgrid')[0].style.left.split("v")[0])>-1) return;
            document.getElementsByClassName('museumgrid')[0].style.left = Number(document.getElementsByClassName('museumgrid')[0].style.left.split("v")[0]) + 33 + "vw"
        })
        class HoverButton {
    constructor(el) {
      this.el = el;
      this.hover = false;
      this.calculatePosition();
      this.attachEventsListener();
    }
    
    attachEventsListener() {
      window.addEventListener('mousemove', e => this.onMouseMove(e));
      window.addEventListener('resize', e => this.calculatePosition(e));
    }
    
    calculatePosition() {
      gsap.set(this.el, {
        x: 0,
        y: 0,
        scale: 1
      });
      const box = this.el.getBoundingClientRect();
      this.x = box.left + (box.width * 0.5);
      this.y = box.top + (box.height * 0.5);
      this.width = box.width;
      this.height = box.height;
    }
    
    onMouseMove(e) {
      let hover = false;
      let hoverArea = (this.hover ? 0.7 : 0.5);
      let x = e.pageX - this.x;
      let y = e.pageY - this.y;
      let distance = Math.sqrt( x*x + y*y );
      if (distance < (this.width * hoverArea)) {
         hover = true;
          if (!this.hover) {
            this.hover = true;
          }
          this.onHover(e.pageX, e.pageY);
      }
      
      if(!hover && this.hover) {
        this.onLeave();
        this.hover = false;
      }
    }
    
    onHover(x, y) {
      gsap.to(this.el,  {
        x: (x - this.x) * 0.4,
        y: (y - this.y) * 0.4,
        scale: 1.1,
        ease: 'power2.out',
        duration: 0.4
      });
      this.el.style.zIndex = 10;
    }
    onLeave() {
      gsap.to(this.el, {
        x: 0,
        y: 0,
        scale: 1,
        ease: 'power2.out',
        duration: 0.7
      });
      this.el.style.zIndex = 1;
    }
  }
    document.querySelectorAll('.museumimg').forEach((element) => {
        new HoverButton(element)
    })
    </script>
</body>
</html>